{layout 'core/layout/main.latte'}
{block content}
<div class="card">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"></h4>
        Dashboard is not implemented
    </div>

</div>
{/block}