<!-- footer START  -->
<nav class="navbar navbar-static-bottom">
    <span class="navbar-text">
        <select class="form-control" id="lang_selector">
            <option n:foreach="$base['langs'] as $code => $l" {if $code == $base['lang']}selected{/if}
                    value="{$code}">{$l}</option>
        </select>
    </span>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="gateway/support/new" class="nav-link">
                <i class="fa fa-question-circle-o mr-5" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
    <span class="navbar-text"><small>
            {_Version}: {$config->getVersion()} / {_"Core version"}: {$config->getCoreVersion()}
                © 2020-2023 {$base['request']->getBasePath()};
            {_"Generated at"}: {date("Y-m-d H:i:s")}
        </small>
    </span>

</nav>
<!-- footer end -->