<!--Applications section in sidemenu-->
<h5 class="sidebar-title">{_"Applications"}</h5>
<div class="sidebar-divider"></div>
<span id="applications_side">
    {if $menu->applications}
        {foreach $menu->applications as $cat}
            <details class="collapse-panel"
                     style="width: 90%;margin-left: 5%; margin-bottom: 5px">
                <summary class="collapse-header">
                    {$cat[0][group_name]}
                </summary>
                <div class="collapse-content">
                    {foreach $cat as $item}
                        <a href="{$item[login_url]}" class="sidebar-link"
                           style="padding:0px; min-height: 0">
                            {$item['name']}
                        </a>
                    {/foreach}
                </div>
            </details>
        {/foreach}
    {/if}
</span>
<br />
<!--END of applications section in sidemenu -->