{foreach $menu->getSideBar() as $cat}
    <h5 class="sidebar-title">{_$cat['items'][0]-> category}</h5>
    <div class="sidebar-divider"></div>
    {foreach $cat['items'] as $item}
        <a href="{$item->url}"
           class="sidebar-link sidebar-link-with-icon
           {$item->is_active ? ' active ' : ''}">
            {if ($item->icon != null)}
                <span class="sidebar-icon" style="width: 20%">
                    <i class="{$item->icon}" aria-hidden="true"></i>
                </span>
            {/if}
        <span style="width: 75%">{_$item->name}</span>
        {if ($item->counter)}
                <span style="width: 5%"><span class="badge badge-{$item->counter_color}
                badge-pill menu-counter">{$item->counter}</span></span>
            {/if}
        </a>
    {/foreach}
    <br/>
{/foreach}
