<!-- Admin login bar -->
<div style="width: inherit; border: 3px solid black; background:#e6ff184a; height: auto; text-align: center;
     position: fixed; z-index: 9">
    {_'You have temporary access to'}
    <strong>{_'administrative'}</strong> {_'functions via'} <strong><font
            color="red">{_$admin_levels[$base['user']->getRole()]}</font></strong> {_'role.'}
    <a style="cursor: pointer;"
       onclick="App.dropAdministrativeAccess()"> {_'Drop access'}</a> {_'if you no longer require it.'}
</div>
<!-- fix for correct display caused by fixed position-->
<div style="height:30px"></div>
<!-- END of admin login bar -->
