<!-- header text bar -->
<div style="width: inherit; border: 3px solid black; background:#00ff1f4a; height: auto; text-align: center;
     position: fixed; z-index: 9">
    <strong>{_"Special information"}:</strong>
    {$config->get('infoBar', 'app')}
</div>
<!-- fix for correct display caused by fixed position-->
<div style="height:30px"></div>
<!-- END of header text bar -->
