<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">{_"Error 404 - NOT FOUND"}</h4>
    {_"This page is missing... If should be here, contact admin... Or try it again later."}
</div>
{include 'core/errors/last_pages.latte'}