{define table-create, $header, $rows, $vissible = array(), $hrefs = array(), $buttonOnRow = array()}
    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                {foreach $header as $thead}
                    <th>{_$thead}</th>
                {/foreach}
            </tr>
            </thead>
            <tbody>
            {foreach $rows as $universal}
                <tr>
                    {foreach $universal as $key => $cell}
                        {if (array_key_exists($key, $hrefs))}
                            <th>
                                <a href="{$hrefs[$key]}/{$cell}">
                                    {$cell}</a>
                            </th>
                        {else}
                            <td>{$cell}</td>
                        {/if}
                    {/foreach}
                    {if ($buttonOnRow)}
                        <td>
                            <button data-data="{json_encode($universal)}"
                                    class="btn btn-sm btn-{$buttonOnRow['color']}"
                                    onclick="{$buttonOnRow['onclick']|noescape}(this)">
                                {_$buttonOnRow['name']}
                            </button>
                        </td>
                    {/if}
                </tr>
            {/foreach}
            </tbody>

        </table>
    </div>

{/define}

{define onesignal}
    {if (strlen($config->get('oneSignalAppID')) > 10) && $base['admin'] == null}
        <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
        <script>
            document.addEventListener("DOMContentLoaded", function (event) {
                window.OneSignal = window.OneSignal || [];
                OneSignal.push(function () {
                    OneSignal.init({
                        appId: {$config->get('oneSignalAppID')},
                    });
                });
                OneSignal.push(function () {
                    OneSignal.on('subscriptionChange', function (isSubscribed) {
                        if (isSubscribed) {
                            // The user is subscribed
                            //   Either the user subscribed for the first time
                            //   Or the user was subscribed -> unsubscribed -> subscribed
                            OneSignal.getUserId(function (userId) {
                                setUserPUSHdevice(userId);
                            });
                        }
                    });
                    OneSignal.sendTags({
                        admin_level: {$base['user']->getRole()},
                        user_id: {$base['user']->getInternalId()},
                    });
                    OneSignal.setExternalUserId({(string)$base['user']->getInternalId()});
                    OneSignal.getUserId(function (userId) {
                        setUserPUSHdevice(userId);
                    });
                });

                function setUserPUSHdevice(user_id) {
                    App.sendPOST("api/core/v1/set/user/push_device", "device_id=" + user_id);
                }
            });
        </script>
    {/if}
{/define}
