.btn[data-count]:after {
    position: absolute;
    top: 5%;
    content: attr(data-count);
    font-size: 70%;
    padding: .5em;
    border-radius: 999px;
    line-height: .75em;
    color: white;
    background: #ff4d4f;
    text-align: center;
    min-width: 2em;
    font-weight: bold;
}

a, button {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}

.jodit_wysiwyg {
    color: black;
}

.card {
    margin: 1rem;
    padding: 2rem;
}

p {
    overflow-wrap: anywhere;
}

[data-toggle=tooltip]::after {
    width: fit-content !important;
}

table.translations {
    table-layout: fixed;
    width: 100%;
    overflow-wrap: break-word;
}

table.translations textarea.text {
    width: 100%;
}

table.translations textarea.text2 {
    width: 90%;
}

.menu-counter {
    font-size: 1.2rem;
    padding: 0.3rem 0.6rem;
    line-height: 1.2;
    font-weight: 700;
}

@media (min-width: 1920px) {
    html {
        font-size: 70% !important;
    }
}
