{layout 'core/layout/main.latte'}
{block title}{_"Assign app to LDAP"}{/block}
{block content}
<div class="d-flex justify-content-center">
    <div class="card" style="
         min-width: 30vw;
         ">
        <h2 class="card-title">
            {_"Adopt app to LDAP via token"}
        </h2>
        <p>
            {$form->renderAll()|noescape}
            </p>
        </div>
    </div>
    {/block}
