{layout 'core/layout/main.latte'}
{block content}
<div class="container-fluid">
    <div class="content">
        <h1 class="content-title font-size-22">
            <i class="fas fa-user"></i>
            {_"Rights group overview"} - {$rights_group['name']}
        </h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <h2 class="card-title">
                        {_"Edit"}
                    </h2>
                    {$group_form->renderAll()|noescape}
                    <form method="POST" class="text-right" action="admin/rights-groups/{$rights_group['id']}/delete">
                        <input type="hidden" name="csrf" value="{$csrf}">
                        <button onclick="this.submit()" class="close btn btn-link text-danger" role="button" aria-label="Close">
                            {_"Delete group"}
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h2 class="card-title">
                        {_"Rights"}
                    </h2>
                    <form method="POST" action="admin/rights-groups/{$rights_group['id']}/edit-rights">
                        <input type="hidden" name="csrf" value="{$csrf}">
                        {foreach $rights as $key => $cat}
                            <label class="checkbox" >
                                <strong>{$key}:</strong>
                                <label class="checkbox" n:foreach="$cat as $r"
                                       data-toggle="tooltip"
                                       data-title="{$r['right_description']}">
                                    <input type="checkbox"
                                           {$r['group_id']?"checked":""}
                                           name="right::{$r['right_id']}">
                                    {$r['right_action']}
                                </label>
                            </label>
                            <br />
                        {/foreach}
                        <input class="btn" type="submit" value="{_"Save"}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}