{layout 'core/layout/main.latte'}
{block content}
<div class="container-fluid">
    <div class="content">
        <h1 class="content-title font-size-22">
            <i class="fas fa-user"></i>
            {_"Rights groups overview"}
        </h1>
        <div class="card">
            <span class="mb-20">
                <h1 class="content-title font-size-18">
                    {_"Create new rights group"}
                </h1>
                {$new_group_form->renderAll()|noescape}
            </span>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{_"Id"}</th>
                            <th>{_"Name"}</th>
                            <th>{_"Department"}</th>
                            <th>{_"Auto role"}</th>
                            <th>{_"Note"}</th>

                        </tr>
                    </thead>
                    <tbody>
                        {foreach $all_rights_groups as $group}
                            <tr>
                                <th>
                                    <a href="admin/rights-groups/{$group['id']}">
                                        {$group['id']}
                                    </a>
                                </th>
                                <td>
                                    <a href="admin/rights-groups/{$group['id']}">
                                        {$group['name']}
                                    </a>
                                </td>
                                <td>{$group['dep_name']}
                                    <small>
                                        ({$group['dep_code']})
                                    </small>
                                </td>
                                <td>{_$admin_levels[$group['role']]}</td>
                                <td>{$group['note']}</td>
                            </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{/block}