{layout 'core/layout/main.latte'}
{block content}
<div class="card">
    <h2 class="card-title">
        {_"Admin index"}
    </h2>
    <p>
        <a href="admin/announcements">{_"Anouncements"}</a>
    </p>
    <p>
        <a href="admin/departments">{_"Departments"}</a>
    </p>
    <p>
        <a href="admin/users">{_"Users"}</a>
    </p>
    <p>
        <a href="admin/rights-groups">{_"Rights groups"}</a>
    </p>

    <div > <!-- text-right = text-align: right -->
        <a href="tech-admin" class="btn">{_"Tech admin menu"}</a>
    </div>
</div>

{/block}

