{layout 'core/layout/main.latte'}
{block title}{_'Login to app'}{/block}
{block content}
    <div class="d-flex justify-content-center">
        <div class="card" style="
         min-width: 30vw;
         ">
            <h2 class="card-title">
                {_"Login to app"} {$config->getTitle()}
            </h2>
            {if ($config->get('local_login') == 'true') || $hiden_login}
                <p>
                <form action="login/{$hiden_login?"hidden_local":"local"}{isset($base['request']->getGet()['redirect'])?"?redirect=" . $base['request']->getGet()['redirect']:""}"
                      method="POST" class="w-400 mw-full">
                    <input type="hidden" name="csrf" value="{$csrf}"/>
                    <input type="hidden" name="form-name" value="local-login"/>
                    <div class="form-group">
                        <label for="username" class="required">{_"Username"}</label>
                        <input type="text" class="form-control"
                               name="username" id="username"
                               placeholder="{_"Username"}" required="required"
                                {if ($_ENV['ENVIRONMENT'] == 'test')}
                                    value="test"
                                {/if}
                        >

                    </div>
                    <div class="form-group">
                        <label for="password" class="required">{_"Password"}</label>
                        <input type="password" class="form-control"
                               name="password" id="password"
                               placeholder="{_"Password"}" required="required"
                                {if ($_ENV['ENVIRONMENT'] == 'test')}
                            value="testtest"
                                {/if}>

                    </div>
                    <div class="form-group">
                        <div class="custom-checkbox">
                            <input type="checkbox"
                                   name="remember_me" id="remember_me"
                            >
                            <label for="remember_me">{_"Remember me in this browser"}</label>
                        </div>
                    </div>
                    <input class="btn btn-primary btn-block" type="submit"
                           value="{_"Log in"}">

                </form>
                </p>
                <div class="text-right mt-10">
                    <!--<a href="password-restore">{_"Forgot password?"}</a>-->
                </div>
            {/if}
        {if ($config->get('ldap_login') == 'true')}
                <a href="login/ldap{isset($base['request']->getGet()['redirect'])?"?redirect=" . $base['request']->getGet()['redirect']:""}"
                   class="btn btn-secondary my-10"
                   type="button">
                    {_"Log in via LDAP"}
                </a>
            {/if}
        {if ($config->get('google_login') == 'true')}
                <!-- Google login        -->
                <div id="g_id_onload"
                     data-client_id="{$_ENV['google_login_key']}"
                     data-context="signin"
                     data-ux_mode="popup"
                     data-login_uri="{$base['request']->getBasePath()}/login/google"
                     data-auto_select="false"
                     data-itp_support="true">
                </div>

                <div class="g_id_signin"
                     data-type="standard"
                     data-shape="rectangular"
                     data-theme="outline"
                     data-text="continue_with"
                     data-size="medium"
                     data-logo_alignment="left">
                </div>
                <!-- END google login script-->
            {/if}
        {if ($config->get('can_register') == 'true')}
                <div class="dropdown-divider"></div>
                <a href="user/register" class="dropdown-item text-center">
                    {_"Don't have an account? Sign up"}
                </a>
            {/if}
        </div>
    </div>
{/block}