{layout 'core/layout/main.latte'}
{block title}{_'2 Factor authetification'}{/block}
{block content}
    <div class="d-flex justify-content-center">
        <div class="card" style="
         min-width: 30vw;
         ">
            <h2 class="card-title">
                {_"Login to app"} {$config->getTitle()}
            </h2>
            {$twoFactorForm->renderAll()|noescape}
        </div>
    </div>
{/block}