{layout 'core/layout/main.latte'}
{block title}Register new account{/block}
{block content}
    <div class="d-flex justify-content-center">
        <div class="card" style="
         min-width: 30vw;
         ">
            <h2 class="card-title">
                {_"Register form"}
            </h2>

            {$form->renderAll()|noescape}
            {if ($config->get('google_login') == 'true')}
                <!-- Google login        -->
                <div style=" display: flex; justify-content: center;">
                    <div id="g_id_onload"
                         data-client_id="{$_ENV['google_login_key']}"
                         data-context="signin"
                         data-ux_mode="popup"
                         data-login_uri="{$base['request']->getBasePath()}/user/register/google"
                         data-auto_prompt="false">
                    </div>
                    <div class="g_id_signin"
                         data-type="standard"
                         data-shape="rectangular"
                         data-theme="filled_black"
                         data-text="signup_with"
                         data-size="large"
                         data-logo_alignment="left">
                    </div>
                    <!-- END google login script-->
                </div>
            {/if}
        </div>
    </div>

{/block}
