<!--Menu application section -->
<li class="nav-item hidden-sm-and-down dropdown with-arrow toggle-on-hover">
    <a class="nav-link" data-toggle="dropdown" id="nav-link-dropdown-toggle">
        {_"Applications"}
        <i class="fa fa-angle-down ml-5" aria-hidden="true"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right overflow-auto"
         id="applications" aria-labelledby="nav-link-dropdown-toggle"
         style="max-height:75vh">
        {if $menu->applications}
            {foreach $menu->applications as $cat}
                <h6 class="dropdown-header text-center"><strong>
                        <span class="badge">
                            {$cat[0][group_name]}                                                </span>
                    </strong></h6>
                <div class="dropdown-divider"></div>
                {foreach $cat as $item}
                    <a href="{$item[login_url]}" class="dropdown-item">
                        {$item[name]}
                    </a>
                {/foreach}
                <div class="dropdown-divider"></div>
            {/foreach}
        {else}
            <script>document.addEventListener("DOMContentLoaded", function () {
                    setTimeout(load, 500);
                    function load() {
                        App.getLDAPApps();
                    }
                });</script>
            {/if}
    </div>
</li>
<!-- END of menu applikaction section -->
