{layout 'core/layout/main.latte'}
{block content}
<div class="container-fluid">
    <div class="content">
        <h1 class="content-title font-size-22">
            <i class="fas fa-user"></i>
            {_"Users overview"}
        </h1>
        <div class="card">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{_"Id"}</th>
                            <th>{_"Portal id"}</th>
                            <th>{_"Login_name"}</th>
                            <td></td>
                            <th>{_"Nickname"}</th>
                            <th>{_"Main role"}</th>
                            <th>{_"Locale"}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $users[0] as $usr}
                            <tr class="
                                {if ($usr['internal_id'] < 10)}
                                    text-secondary
                                {/if}
                                {if ($usr['disabled'] == 1)}
                                    table-secondary
                                {/if}
                                {if ($usr['main_role'] > 8)}
                                    text-primary
                                {/if}
                                {if ($usr['banned'])}
                                    table-danger
                                {/if}
                                ">
                                <th>
                                    <a href="admin/users/{$usr['internal_id']}">
                                        {$usr['internal_id']}
                                    </a>
                                </th>
                                <th>
                                    {if ($usr['portal_id'] > 9)}
                                        <a href="gateway/ldap?page=/admin/users/{$usr['portal_id']}">
                                        {/if}
                                        {$usr['portal_id']}
                                    </a>
                                </th>
                                {var $tooltip = []}
                                {if ($usr['internal_id'] < 10)}
                                    {var $tooltip[] = "System account"}
                                {/if}
                                {if ($usr['disabled'] == 1)}
                                    {var $tooltip[] = "Account disabled"}
                                {/if}
                                {if ($usr['main_role'] > 8)}
                                    {var $tooltip[] = "Developer account"}
                                {/if}
                                {if ($usr['banned'])}
                                    {var $tooltip[] = "User have BAN"}
                                {/if}
                                <td
                                    {if ($tooltip)}
                                        data-toggle="tooltip" data-title="{$tooltip|implode:', '}"
                                    {/if}
                                    >
                                    {$usr['login_name']}
                                </td>
                                <td>
                                    {$usr['avatar']!=null?"<img style=\"max-height: 40px\" src=\"" . $usr['avatar'] . "\"
                                                                 class=\"img-fluid rounded-circle\" alt=\"Avatar\">" : "" |noescape}
                                </td>
                                <td>{$usr['nickname']}</td>
                                <td>{_$admin_levels[$usr['main_role']]}</td>
                                <td>{$usr['locale']}</td>
                            </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{/block}