{layout 'core/layout/main.latte'}
{block content}
    <div class="container-fluid">
        <div class="content">
            <h1 class="content-title font-size-22">
                <i class="fas fa-user"></i>
                {_"User profile"}
            </h1>
            {if ($user['disabled'])}
                <span class="badge badge-secondary font-size-16">
                {_"This user is disabled!"}
            </span>
            {/if}
        {if ($user['banned'])}
                <span class="badge badge-danger font-size-16">
                {_"This user is banned!"}
            </span>
            {/if}
        {if ($user['internal_id'] < 10)}
                <span class="badge badge-primary font-size-16">
                {_"System account!"}
            </span>
            {/if}
        {if (!$can_edit)}
                <span class="badge  font-size-16">
                {_"Only view, no edit"}
            </span>
            {/if}
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <h2 class="card-title">
                            <i class="fas fa-user-edit"></i>
                            {_"User informations"}
                        </h2>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="user_id">
                                        <strong>{_"User id"}:
                                        </strong>
                                    </label>
                                    <input type="number" class="form-control"
                                           id="user_id" disabled
                                           value="{$user['internal_id']}">
                                </div>
                                <div class="form-group">
                                    <label for="user_portal_id"><strong>
                                            {_"User portal id"}:</strong></label>
                                    <input type="number" class="form-control"
                                           id="user_portal_id" disabled
                                           value="{$user['portal_id']}">
                                </div>
                                <div class="form-group">
                                    <label for="user_portal_id"><strong>
                                            {_"Google id"}:</strong></label>
                                    <input type="number" class="form-control"
                                           id="google_id" disabled
                                           value="{$user['google_id']}">
                                </div>
                            </div>
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4">
                                <strong>{_"Avatar"}:</strong>
                                {if ($can_edit)}
                                    <form method="POST" class="text-right"
                                          action="admin/users/{$user['internal_id']}/remove-avatar">
                                        <input type="hidden" name="csrf" value="{$csrf}">
                                        <button onclick="this.submit()" class="close btn btn-link text-danger"
                                                role="button" aria-label="Close">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </form>
                                {/if}
                                <img
                                        src="{$user['avatar'] == ''
                                        ?$assets->get('images/No_image_available.png')
                                        :$user['avatar']}"
                                        class="img-fluid m-10 pr-20" alt="User avatar">

                            </div>
                        </div>
                        {if ($user['origin'] != 'local')}
                            <span class="badge">
                            {_"Personal info can be changed only on portal!"}
                        </span>
                        {/if}
                    {$user_form->renderAll()|noescape}
                    </div>
                    {if ($user['origin'] == 'local')}
                        <div class="card">
                            <h2 class="card-title">
                                <i class="fas fa-user-edit"></i>
                                {_"User personal informations"}
                            </h2>
                            {$user_data_form->renderAll()|noescape}
                        </div>
                    {/if}
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <h2 class="card-title ">
                            <i class="fas fa-sliders-h"></i>
                            {_"User departments"}
                            <span class="float-right">
                            <button class="btn-sm btn btn-primary"
                                    onclick="halfmoon.toggleModal('heads')"
                                    id="view_heads">
                                {_"View heads"}
                            </button>
                        </span>
                        </h2>
                        {var $used_departments = []}
                        <div class="mt-20 pt-20">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tbody>
                                    {foreach $departments as $dep}
                                        {var $used_departments[] = $dep['id']}
                                        <tr>
                                            <td>
                                                <strong>{$dep['name']}</strong>
                                                <small>({$dep['code']})</small>

                                            </td>
                                            <td>
                                                <form method="POST"
                                                      action="admin/users/{$user['internal_id']}/change-department-role"
                                                      style="width: 150px">
                                                    <input type="hidden" name="csrf" value="{$csrf}">
                                                    <input type="hidden" name="department_id" value="{$dep['dep_id']}">
                                                    <select class="form-control" name="main_role"
                                                            onchange="this.form.submit()">
                                                        {foreach $admin_levels as $lvl=>$name}
                                                            <option
                                                                    {if ($lvl < 0)}
                                                                        disabled="disabled"
                                                                    {/if}
                                                                {if ($lvl == $dep['role'])}
                                                                selected="selected"
                                                            {/if}
                                                                    value="{$lvl}">{_$name}</option>
                                                        {/foreach}
                                                    </select>
                                                </form>
                                            </td>
                                            <td>
                                                <form method="POST"
                                                      action="admin/users/{$user['internal_id']}/remove-department"
                                                >
                                                    <input type="hidden" name="csrf" value="{$csrf}">
                                                    <input type="hidden" name="department_id" value="{$dep['dep_id']}">
                                                    {if ($can_edit)}
                                                        <input class="btn btn-sm btn-danger" type="submit"
                                                               value="{_Remove}">
                                                    {/if}
                                                </form>
                                            </td>
                                        </tr>
                                    {/foreach}
                                    </tbody>
                                </table>
                            </div>
                            {var $add_deps = $base['user']->getRole() > 8?$all_departments:$base['user']->departments->getMyDepartments(5)}
                        {if ((is_array($add_deps)?count($add_deps):0)
                            > (is_array($used_departments)?count($used_departments):0))}
                                <h3 class="card-title">{_"Add departement"}</h3>
                                <form method="POST" action="admin/users/{$user['internal_id']}/add-department">
                                    <input type="hidden" name="csrf" value="{$csrf}">
                                    <label>{_"Select departments"}</label>
                                    <select class="form-control" required name="department_id">
                                        <option selected disabled readonly>{_"Select"}</option>
                                        {foreach $base['user']->getRole() > 8?$all_departments:$base['user']->departments->getMyDepartments(5) as $d}
                                            {continueIf in_array($d['id'], $used_departments)}
                                            <option value="{$d['id']}">{$d['name']} ({$d['code']})</option>
                                        {/foreach}
                                    </select>
                                    <label>{_"Select role"}</label>
                                    <select class="form-control" required name="role">
                                        <option selected disabled readonly>{_"Select"}</option>
                                        {foreach $admin_levels as $lvl=>$name}
                                            <option
                                                    {if $lvl < 0}
                                                        disabled="disabled"
                                                    {/if}
                                                    value="{$lvl}">{_$name}</option>
                                        {/foreach}
                                    </select>
                                    <span class="badge badge-secondary">{_"We should use department invitation instead of force assign!"}</span>
                                    {if ($can_edit)}
                                        <input type="submit" class="btn btn-sm btn-success my-10" value="{_"Asssign"}"/>
                                    {/if}
                                </form>
                            {/if}
                        </div>
                    </div>
                    {if ($can_edit)}
                        <div class="card">
                            <h2 class="card-title">
                                <i class="fas fa-list"></i>
                                {_"Actions"}
                            </h2>
                            {if ($base['user']->getRole() > 9)}
                                <a href="admin/users/{$user['internal_id']}/reset-password"
                                   class="btn  btn-sm mb-10">
                                    <i class="fas fa-key"></i>
                                    {_"Reset password"}
                                </a>
                                <button class="btn btn-primary btn-sm mb-10"
                                        onclick="halfmoon.toggleModal('change-password')">
                                    <i class="fas fa-key" aria-hidden="true"></i>
                                    {_"Change password"}
                                </button>
                            {/if}
                            {if ($user['user_portal_id'] > 9)}
                                <a href="admin/users/{$user['internal_id']}/kill-all-sessions"
                                   class="btn btn-danger btn-sm mb-10">
                                    <i class="fas fa-eraser"></i>
                                    {_"Kill sessions in all apps"}
                                </a>
                            {/if}
                            {if ($base['user']->rights->can('users', 'admin_login', false))}
                                <a href="login/admin/{$user['internal_id']}"
                                   class="btn btn-primary btn-sm mb-10">
                                    <i class="fas fa-users-cog"></i>
                                    <i class="fas fa-sign-in-alt"></i>
                                    {_"Log in as this user"}
                                </a>
                            {/if}
                            {if ($base['user']->rights->can('users', 'edit', false))}
                                <a href="admin/users/{$user['internal_id']}/repair-rights"
                                   class="btn btn-secondary btn-sm mb-10">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    {_"Repair rights"}
                                </a>
                                {if (!$user['disabled'])}
                                    <a href="admin/users/{$user['internal_id']}/disable"
                                       class="btn btn-danger btn-sm mb-10">
                                        <i class="fas fa-user-alt-slash"></i>
                                        {_"Disable account"}
                                    </a>
                                {else}
                                    <a href="admin/users/{$user['internal_id']}/enable"
                                       class="btn btn-success btn-sm mb-10">
                                        <i class="fas fa-user-alt-slash"></i>
                                        {_"Enable account"}
                                    </a>
                                {/if}
                                <a href="admin/users/{$user['internal_id']}/sendTestMail"
                                   class="btn btn-secondary btn-sm mb-10">
                                    <i class="fas fa-bug"></i>
                                    <i class="fas fa-envelope"></i>
                                    {_"Send test mail"}
                                </a>
                                <a href="admin/users/{$user['internal_id']}/sendTestPush"
                                   class="btn btn-secondary btn-sm mb-10">
                                    <i class="fas fa-bug"></i>
                                    <i class="fas fa-bell"></i>
                                    {_"Send test Push"}
                                </a>
                                {if ($user['google_id'])}
                                    <a href="admin/users/{$user['internal_id']}/google-remove"
                                       class="btn btn-danger btn-sm mb-10">
                                        <i class="fab fa-google"></i>
                                        <i class="fas fa-eraser"></i>
                                        {_"Remove google connection"}
                                    </a>
                                {/if}

                            {/if}
                            {if ($base['user']->rights->can('users', 'all', false))}
                                {if ($user['banned'])}
                                    <a href="admin/users/{$user['internal_id']}/un-ban"
                                       class="btn btn-success btn-sm mb-10">
                                        <i class="fas fa-ban"></i>
                                        {_"UnBan account"}
                                    </a>
                                {else}
                                    <a href="admin/users/{$user['internal_id']}/ban"
                                       class="btn btn-danger btn-sm mb-10">
                                        <i class="fas fa-ban"></i>
                                        {_"Ban account"}
                                    </a>
                                {/if}

                            {/if}
                        </div>
                    {/if}
                    <div class="card">
                        <h2 class="card-title">
                            <i class="fas fa-eye"></i>
                            <i class="fas fa-eye-slash"></i>
                            {_"Rights groups helper"}
                        </h2>
                        <a href="admin/rights-groups"
                           class="btn btn-sm mb-10">
                            <i class="fas fa-key"></i>
                            <i class="fas fa-th"></i>
                            {_"Rights groups"}
                        </a>
                        <form method="POST" name="user_groups"
                              action="admin/users/{$user['internal_id']}/change-groups">
                            <input type="hidden" name="csrf" value="{$csrf}">
                            <input type="hidden" name="action" value="change-rights-group">
                            <fieldset>
                                {foreach $all_rights_groups as $r}
                                    <label class="checkbox">
                                        {$r['name']}:
                                        <input type="checkbox"

                                               name="right_group::{$r['id']}">
                                        <span class="badge mb-5">
                                            {$r['note']}
                                        </span>
                                    </label>
                                    <br/>
                                {/foreach}
                                {if ($can_edit)}
                                    <span class="badge mb-5">
                                        {_"Only rights you can grant will be granted"}
                                    </span>
                                    <input class="btn btn-sm btn-secondary" type="submit" name="type" value="add"/>
                                    <input class="btn btn-sm btn-danger" type="submit" name="type" value="remove"/>
                                {/if}
                        </form>
                    </div>
                    <div class="card">
                        <h2 class="card-title">
                            <i class="fas fa-sliders-h"></i>
                            {_"User rights"}
                        </h2>
                        <span class="badge my-10">{_"This is an overview of some user rights! It may not display all rights. There can be rights that you can not see!"}</span>
                        <form method="POST" name="user_rights" action="admin/users/{$user['internal_id']}/change-role">
                            <input type="hidden" name="csrf" value="{$csrf}">
                            <input type="hidden" name="action" value="change-role">
                            <div class="form-group">
                                <label class="label"><strong>{_"User main role"}:</strong></label>
                                <select class="form-control" id="main_role"
                                        name="main_role">
                                    {foreach $admin_levels as $lvl=>$name}
                                        <option
                                                {if ($lvl < 0)}
                                                    disabled="disabled"
                                                {/if}
                                            {if ($lvl == $user['main_role'])}
                                            selected="selected"
                                        {/if}
                                                value="{$lvl}">{_$name}</option>
                                    {/foreach}
                                </select>
                            </div>
                            {if ($can_edit)}
                                <input class="btn btn-sm btn-secondary" type="submit" value="{_"Save"}"/>
                            {/if}
                        </form>
                        <br/>
                        <form method="POST" name="user_rights"
                              action="admin/users/{$user['internal_id']}/change-rights">
                            <input type="hidden" name="csrf" value="{$csrf}">
                            <input type="hidden" name="action" value="change-rights">
                            {foreach $rights as $key => $cat}
                                <label class="checkbox">
                                    <strong>{$key}:</strong>
                                    <label class="checkbox" n:foreach="$cat as $r"
                                        data-toggle="tooltip"
                                           data-title="{$r['right_description']}"
                                            {$r['right_granteable_by'] > $base['user']->getRole() && $r['right_value']?" style=background-color:red; ":""}>
                                        <input type="checkbox"
                                                {$r['right_value']?"checked":""}
                                               name="right::{$key}::{$r['right_action']}"
                                                {$r['right_granteable_by'] > $base['user']->getRole() && !$r['right_value']?" disabled ":""}
                                        >
                                        {$r['right_action']}
                                    </label>
                                </label>
                                <br/>
                            {/foreach}















                            <span class="badge badge-danger my-10">{_"IF YOU UNSET red rights you will not be able to get them back yourself!"}</span>
                            {if ($can_edit)}
                                <input class="btn btn-sm btn-secondary" type="submit" value="{_"Save"}"/>
                            {/if}
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-user-secret"></i>
                        {_"Active sessions"}
                    </h2>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>{_"Action"}</th>
                                <th>{_"Token"}</th>
                                <th>{_"Active role"}</th>
                                <th>{_"Expire"}</th>
                                <th>{_"Created"}</th>
                                <th>{_"Type"}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr n:foreach="$sessions as $sess" class="
                                    {$sess['expire'] < time()?"table-danger":""}">
                                {continueIf ($sess['type'] == 'admin' && $base['user']->getRole() < 8)}

                                <td>
                                    {if ($can_edit)}
                                        <a href="admin/users/{$user['internal_id']}/kill-session/{$sess['id']}">
                                            {_"Kill session"}
                                        </a>
                                    {/if}
                                </td>
                                <td>
                                    {$sess['token']|truncate:10}
                                </td>
                                <td>
                                    {_$admin_levels[$sess['active_role']]}
                                </td>
                                <td
                                        data-toggle="tooltip"
                                        data-title="{$sess['expire']|date:'Y-m-d H:i:s'}">
                                    {$sess['expire']|date:'Y-m-d H:i:s'|timeAgo}
                                </td>
                                <td
                                        data-toggle="tooltip"
                                        data-title="{$sess['created']|date:'Y-m-d H:i:s'}">
                                    {$sess['created']|timeAgo}
                                </td>
                                <td>{$sess['type']}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <span class="badge">{_"Here you can see user active sessions."}</span>
                    <span class="badge badge-primary">{_"Any suspicious session? Use internal procedures!"}</span>
                </div>
            </div>
            <div class="card">
                <h2 class="card-title">
                    <i class="fas fa-user-secret"></i>
                    {_"Active tokens"}
                </h2>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>{_"Action"}</th>
                            <th>{_"Token"}</th>
                            <th>{_"Expire"}</th>
                            <th>{_"Created"}</th>
                            <th>{_"Type"}</th>
                            <th>{_"Data"}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr n:foreach="$tokens as $sess" class="
                                {$sess['expire'] < time()?"table-danger":""}">
                            <td>
                                {if ($can_edit)}
                                    <a href="admin/users/{$user['internal_id']}/kill-token/{$sess['id']}">
                                        {_"Set expired"}
                                    </a>
                                {/if}
                            </td>
                            <td>
                                {$sess['token']|truncate:10}
                            </td>
                            <td
                                    data-toggle="tooltip"
                                    data-title="{$sess['expire']|date:'Y-m-d H:i:s'}">
                                {$sess['expire']|date:'Y-m-d H:i:s'|timeAgo}
                            </td>
                            <td
                                    data-toggle="tooltip"
                                    data-title="{$sess['created']|date:'Y-m-d H:i:s'}">
                                {$sess['created']|timeAgo}
                            </td>
                            <td>{$sess['type']}</td>
                            <td>{$sess['data']}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <span class="badge">{_"Here you can see user active tokens."}</span>

            </div>
            <div class="col-lg-12">
                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-user-secret"></i>
                        {_"Push devices"}
                    </h2>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>{_"Device id"}</th>
                                <th>{_"Added"}</th>
                                <th>{_"Updated"}</th>
                                <th>{_"Device OS"}</th>
                                <th>{_"Device type"}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr n:foreach="$push_devices as $sess">
                                <td>
                                    {$sess['device_id']|truncate:10}
                                </td>
                                <td
                                        data-toggle="tooltip"
                                        data-title="{$sess['created']|date:'Y-m-d H:i:s'}">
                                    {$sess['created']|date:'Y-m-d H:i:s'|timeAgo}
                                </td>
                                <td
                                        data-toggle="tooltip"
                                        data-title="{$sess['updated']|date:'Y-m-d H:i:s'}">
                                    {$sess['updated']|timeAgo}
                                </td>
                                <td>{$sess['device_os']}</td>
                                <td>{$sess['device_model']}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <span class="badge badge-primary">{_"Any suspicious device? Contact developer imidiatelly!"}</span>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="modal" id="heads" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="
             min-width: 40vw;
             ">
                <button class="close" data-dismiss="modal" type="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">{_"User Department heads"}</h5>
                {if ($user['origin'] != 'local')}
                    <span class="badge badge-secondary">
                    {_"This list may be diferent from one in ldap. Use list in ldap to view all heads and admins."}
                </span>
                {/if}
                <p>
                    {_"The following users are heads of departments that user is in. They have access to view and change user profile data and they can change user apps rights. Also they can reset user password."}
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <tbody>
                        {foreach $heads['heads'] as $usr}
                            <tr>
                                <td>{$usr['login_name']} ({$usr['nickname']})</td>
                                <td>{$admin_levels[$usr['role']]}</td>
                                <td>{$usr['name']} ({$usr['code']})</td>
                            </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
                </p>
                <p>
                    {_"The following users are admins of departments that user is in. They have access to view and change user rights. "}
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <tbody>
                        {foreach $heads['admins'] as $usr}
                            <tr>
                                <td>{$usr['login_name']} ({$usr['nickname']})</td>
                                <td>{_$admin_levels[$usr['role']]}</td>
                                <td>{$usr['name']} ({$usr['code']})</td>
                            </tr>
                        {/foreach}
                        {foreach $heads['devs'] as $usr}
                            <tr>
                                <td>{$usr['login_name']} ({$usr['nickname']})</td>
                                <td>{_$admin_levels[$usr['role']]}</td>
                                <td>{$usr['name']} ({$usr['code']})</td>
                            </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
                </p>
                <p>
                    {_"In addition to this, some users have full access to user data for operational purposes."}
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <tbody>
                        {foreach $heads['devs_head'] as $usr}
                            <tr>
                                <td>{$usr['login_name']} ({$usr['nickname']})</td>
                                <td>{_$admin_levels[$usr['role']]}</td>
                                <td>{$usr['name']} ({$usr['code']})</td>
                            </tr>
                        {/foreach}
                        {foreach $heads['right'] as $usr}
                            <tr>
                                <td>{$usr['login_name']} ({$usr['nickname']})</td>
                                <td>{_"Responsible staff for app"}</td>
                            </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
                </p>

            </div>
        </div>
    </div>
    <div class="modal" id="change-password"
         tabindex="-1" role="dialog"
         data-overlay-dismissal-disabled="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button class="close" data-dismiss="modal"
                        type="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">{_"Change password"}</h5>
                <p>
                    <span class="badge my-10">{_"User should reset password with email!"}</span>
                    <span class="badge badge-danger my-10">{_"Instead of this use change password via token that you provide to user!"}</span>
                <form action="admin/users/{$user['internal_id']}/change-password"
                      method="POST">
                    <div class="form-group">
                        <label for="password-again"
                               class="required">
                            {_"Password"}</label>
                        <input type="password"
                               name="password-again"
                               class="form-control"
                               placeholder="Password"
                               required="required">
                    </div>
                    <div class="form-group">
                        <label for="password"
                               class="required">
                            {_"Password again"}</label>
                        <input type="password"
                               name="password"
                               class="form-control"
                               placeholder="Password"
                               required="required">
                    </div>
                    </p>
                    <div class="text-right mt-20">
                        <button class="btn mr-5"
                                data-dismiss="modal"
                                type="button">{_"Close"}</button>
                        <input type="submit"
                               class="btn btn-success"
                               data-dismiss="modal"
                               type="button"
                               value="{_"Confirm"}"/>
                </form>
            </div>
        </div>
    </div>
    {if ($base['user']->getRole() < 10 && $_ENV['ldap_login'] == "true")}
        <div class="modal modal-full ie-scroll-fix show" data-overlay-dismissal-disabled="true"
             data-esc-dismissal-disabled="true" id="modal-warning-low-level" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <div class="alert alert-danger" role="alert">
                                    <h4 class="alert-heading">Danger alert</h4>
                                    This tool is here only for <strong>emergency</strong> cases when synchronization
                                    with portal <strong>do not work!</strong>
                                    Changes performed here may be discharged after new synchronization.
                                    If you <strong>do something on this page</strong>, tell about it to your supervisor
                                    or directly to master developer!

                                </div>
                                <button onclick="halfmoon.toggleModal('modal-warning-low-level')"
                                        class="btn btn-success my-20" type="button">I understand
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {/if}
{/block}
