{layout 'core/layout/main.latte'}
{block content}
    <div class="card">
        <h2 class="card-title">
            {_"Action log"}
        </h2>
        <p>
            {$search_form->renderAll()|noescape}
        </p>
        <span class="badge">{_"Maximum results is"} {$base['request']->getLimit()}</span>
        <span class="badge">{_"Found"} {$results[1]} {_"records"}</span>
        <div class="table-responsive">
            <table class="table table-inner-bordered">
                <thead>
                <tr>
                    <th>{_"Time"}</th>
                    <th>{_"User"}</th>
                    <th>{_"Tool"}</th>
                    <th>{_"Action"}</th>
                    {if ($base['user']->getRole() > 8)}
                        <th>{_"Type"}</th>
                        <th>{_"Admin"}</th>
                    {/if}
                        {if ($base['user']->getRole() > 4)}
                        <th>{_"IP"}</th>
                        <th>{_"Data"}</th>
                    {/if}
                </tr>
                </thead>
                <tbody>
                {foreach $results[0] as $log}
                    {continueIf $log['type'] != 'normal' && $base['user']->getRole() < 9}
                    <tr>
                        <th>{$log['timestamp']}</th>
                        <td>{$log['login_name']}</td>
                        <td>{$log['tool']}</td>
                        <td>{$log['action']}</td>
                        {if ($base['user']->getRole() > 8)}
                            <td class="{$log['type'] == "normal"?"":"text-primary"}">{$log['type']}</td>
                            <td>{$log['admin_login_name']}</td>
                        {/if}
                        {if ($base['user']->getRole() > 4)}
                            {if ($base['user']->getRole() > 6)}
                                <td>{$_ENV['ENVIRONMENT'] == 'test'?"hidden due PII contain":$log['IP']}</td>
                            {else}
                                {if ($_ENV['ENVIRONMENT'] == 'test')}
                                    <td>hidden due PII contain</td>
                                {else}
                                    <td>{$log['IP']|anonimizeIP}</td>
                                {/if}
                            {/if}
                            <td>{$_ENV['ENVIRONMENT'] == 'test'?"hidden due PII contain":$log['data']}</td>
                        {/if}
                    </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>

{/block}
