{layout 'core/layout/main.latte'}
{block content}
<div class="card">
    <h2 class="card-title">
        {_"Tech Admin index"}
    </h2>
    <p>
        <a href="tech-admin/action_log">{_"Action log"}</a>
    </p>
    <p>
        <a href="tech-admin/deamon">{_"Cron deamon"}</a>
    </p>
    <p>
        <a href="tech-admin/translations">{_"Translations"}</a>
    </p>
    <p>
        <a href="tech-admin/mail-tool">{_"Mail tool"}</a>
    </p>


    <div > <!-- text-right = text-align: right -->
        <a href="admin" class="btn">{_"Admin menu"}</a>
    </div>
</div>

{/block}

