{layout 'core/layout/main.latte'}
{block content}
<div class="card">
    <h2 class="card-title">
        {_"Available languages"}
    </h2>
    {$form->renderAll()|noescape}
        <div class="form-group my-20">
            <label>{_"Choose language for translations"}</label>
            <select class="form-control" onchange="App.changeLang(event)">
                <option n:foreach="$base['langs'] as $code => $l" {if $code==$base['lang']}selected{/if}
                        value="{$code}">{$l}</option>
            </select>
        </div>
        {$form_repair->renderAll()|noescape}
    </div>
    <div class="card">
        <h2 class="card-title">
            {_"Translations"}
        </h2>
        <div class="table-responsive">
            <form method="POST">
                <input type="hidden" name="csrf" value="{$csrf}" />
                <input type="submit" class="btn btn-success float-right" value="{_"Save"}"/>
                <table class="table table-inner-bordered translations">
                    <thead>
                        <tr>
                            <th>{_"Original"}</th>
                            <th>{_"Translation"}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $results as $key => $value}
                            <tr>
                                <td><textarea readonly class="text bg-transparent text-light-dm">{$key}</textarea></td>
                                <td>
                                    <textarea name="tran[{$key|md5}]" class="text2 bg-transparent text-light-dm">{$value}</textarea>
                                </td>
                            </tr>
                        {/foreach}
                    </tbody>
                </table>
                <input type="submit" class="btn btn-success float-right" value="{_"Save"}"/>
            </form>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            setTimeout(function () {
                App.fixTextAreaHeight();
            }, 300);

        });
    </script>
    {/block}
